{{ $severityBgColor := .Site.Params.DefaultSeverityBackground }}
{{ $severityColor := .Site.Params.DefaultSeverityColor }}
{{ $dateFormat := "January 2, 2006 at 14:54" }}
{{ if .Site.Params.dateFormat }}
{{ $dateFormat = .Site.Params.dateFormat }}
{{ end }}
{{ $dateMachineFormat := " 2006-12-23 14:54" }}
<div class="max-w-lg w-full lg:flex shadow-md {{ .Site.Params.PastBodyColor }} rounded flex flex-col justify-between leading-normal mb-8 text-sm md:text-lg">

    <div class="{{ $severityColor }} {{ $severityBgColor }} rounded-t flex items-center justify-between px-4 py-2 ">
        <a class="py-1 md:flex items-center no-underline text-black" href="{{ .Permalink }}">
            <time datetime="{{ .Date }}">{{ .Date.Format $dateFormat }}{{ .Site.Params.TimezoneString }}{{ i18n "timezoneString" }}</time>
            <span class="flex items-center md:ml-2">
                <svg aria-hidden="true" class="fill-current md:ml-4" xmlns="http://www.w3.org/2000/svg"  width="18" viewBox="0 0 512 512"><path d="M74.6 256c0-38.3 31.1-69.4 69.4-69.4h88V144h-88c-61.8 0-112 50.2-112 112s50.2 112 112 112h88v-42.6h-88c-38.3 0-69.4-31.1-69.4-69.4zm85.4 22h192v-44H160v44zm208-134h-88v42.6h88c38.3 0 69.4 31.1 69.4 69.4s-31.1 69.4-69.4 69.4h-88V368h88c61.8 0 112-50.2 112-112s-50.2-112-112-112z"/></svg>
                {{ partial "commentscount" . }}
            </span>
        </a>

        {{ if eq .Params.status "resolved" }}

            {{ $t := (time .Params.resolved_on) }}
            {{ $timeDiff := (sub $t.Unix .Date.Unix) }}
            {{ $diffInMin := (div $timeDiff 60) }}

            <span class="bg-white rounded text-black text-lg px-3 py-1 ml-2">
                {{ if lt $timeDiff 60 }}
                    <span class="text-green-dark">
                    {{ T "inUnderAMinute" }}
                    </span>
                {{ else }}
                      {{ if gt $timeDiff 3600 }}
                        <span class="text-red-dark">
                          {{ $minutesForCalc := (mod $diffInMin 60) }}

                          {{ div (sub $diffInMin $minutesForCalc) 60 }}h
                          {{ $minutesForCalc }}m
                        </span>
                      {{ else }}
                        <span class="text-orange-dark">
                          {{ $secsForCalc := (mod $timeDiff 60) }}

                          {{ div (sub $timeDiff $secsForCalc) 60 }}m
                        </span>
                      {{ end }}
                {{ end }}

            </span>

        {{ end }}


    </div>


    <div class="px-4 pt-4 {{ .Site.Params.PastBodyBackground }}">
        <div class="font-bold text-xl my-2 {{ .Site.Params.ScheduledBodyTitleColor }}">{{ .Title }}</div>
        <div class="cls-past-event-content my-4">{{ .Content | safeHTML }}</div>
        <div class="cls-past-event-read-more border-t border-dotted border-grey-light text-sm text-center text-grey-darker">
            <span class="cls-read-more bg-blue-lighter rounded-sm px-6 py-2 cursor-pointer">+</span>
        </div>
    </div>

    <div class="flex items-center justify-between {{ .Site.Params.PastBodyBackground }} rounded-b px-4 pb-4 pr-4">
        <div class="max-w-xs leading-loose mr-2">
            {{ range .Params.Affected }}
            <span class="rounded px-3 py-1 text-sm mr-1 {{ $.Site.Params.AffectedBackground }} {{ $.Site.Params.AffectedColor }}">{{ . }}</span>
            {{ end }}
        </div>
        <div class="ml-2 pt-2 pb-4 text-center">
            {{ $itemsCount := len .Params.Affected }}
            {{ $text := T "was" }}
            {{ if gt $itemsCount 1 }}
            {{ $text = T "were"}}
            {{ end }}
            <p class="text-sm mb-1">{{ $text }}</p>
            <p class="{{ $severityColor }} {{ $severityBgColor }} rounded px-3 py-2 font-semibold">{{ T .Params.max_severity }}</p>
        </div>
    </div>
</div>
